.pad-l-12 {
  margin-left: 12px !important;
}

.pad-r-5 {
  padding-right: 5px;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.cursor-pointer {
  cursor: pointer;
}
