@import "./variables.scss";

.double-img-div {
  display: flex;

  .img-section {
    position: relative;

    img {
      width: 100%;
      z-index: -1;
    }

    .img-details {
      position: absolute;
      left: 64px;
      bottom: 64px;
      color: $white;

      .img-heading {
        font-size: $font-3xl;
      }

      .img-description {
        font-size: $font-lg;
        padding: 5px 0;
      }

      .img-cta {
        font-size: $font-lg;
        background: none;
        border: none;
        margin-top: 16px;
        color: inherit;
        cursor: pointer;
        transition: transform 0.001s linear !important;
      }

      .cta-btn {
        padding: 15px 56px;
        color: $grey;
        background-color: $white;
        border: 1px solid $white;
        border-radius: 5px;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .double-img-div {
    .img-section {
      .img-details {
        left: 15px;
        bottom: 33px;

        .img-heading {
          font-size: $font-2xl;
        }

        .img-cta {
          font-size: $font-sm;
        }

        .cta-btn {
          padding: 12px 32px;
        }
      }
    }
  }
}
