footer {
  height: 100px;
  padding: 44px 0 32px;
  background-color: $navy;
  border-top: 4px solid $cobalt-blue;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;

  i {
    color: $white;
    width: 3%;
  }
}

@media screen and (max-width: 639px) {
  footer {
    i {
      width: 10%;
    }
  }
}
