* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
  overscroll-behavior: none;
}

a {
  text-decoration: none;
}

img {
  display: block; /* remove from here and only add to particular images where required */
}

.overlay {
  display: none;
  z-index: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000b3;

  &.active {
    display: flex;
  }
}
