.section1 {
  display: flex;

  .img-section {
    position: relative;

    img {
      width: 100%;
      z-index: -1;
    }

    .img-details {
      z-index: 1;
      position: absolute;
      left: 64px;
      bottom: 64px;
      color: white;

      .img-heading {
        font-size: 42px;
        padding-bottom: 16px;
      }

      .img-cta {
        font-size: 16px;
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        transition: transform 0.001s linear !important;

        &:hover {
          i {
            transform: translate(32px);
          }
        }
      }

      .cta-btn {
        padding: 15px 56px;
        color: grey;
        background-color: white;
        border: 1px solid white;
        border-radius: 5px;
      }
    }
  }
}
