.section2 {
  .category-content {
    display: flex;
    flex-direction: row;
    padding: 64px 64px 32px;

    .category-item {
      min-width: 23.2%;
      width: 23.2%; /* confirm if needed */
      margin: 0 16px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .item-img {
        width: 305px;
        height: 354px;
        background: url("../assets/section2/featured.avif") no-repeat center center / contain;

        &:hover {
          background: url("../assets/section2/featuredHover.webp") no-repeat center center / cover;
        }
      }

      .item-info {
        line-height: 1.5;
        padding: 16px 16px 0;
        color: #555;

        .item-heading {
          font-size: 16px;
          margin-bottom: 8px;
        }

        .item-des {
          font-size: 14px;
          margin-bottom: 4px;
        }
      }
    }
  }

  .scrollable {
    overflow-x: scroll;

    /* scroll-behavior: smooth; */
  }
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
  height: 0;
}
