@import "./variables.scss";

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: flex;
  flex-direction: row;
}

.active[data-tab-target] {
  font-weight: 600;
  border-bottom: 2px solid $grey;
}

.section2 {
  padding-top: 64px;

  .tabs {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: $font-xl;
    font-weight: 400;
    line-height: 2rem;
    color: $grey;
    border-bottom: 1px solid $grey;

    li {
      width: calc(100% - 128px);
      padding-bottom: 13px;
      text-align: center;
    }
  }

  .category-content {
    padding: 0 64px 64px;

    .category-item {
      min-width: 23.2%;
      width: 23.2%; /* confirm if needed */
      margin: 0 16px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .item-img {
        width: 305px;
        height: 354px;
        background:
          url("../assets/section2/featured.webp") no-repeat center
          center / contain;

        &:hover {
          background:
            url("../assets/section2/featuredHover.png") no-repeat center
            center / contain;
        }
      }

      .item-info {
        line-height: 1.5;
        padding: 16px 16px 0;
        color: $grey;

        .item-heading {
          font-size: $font-lg;
          margin-bottom: 8px;
        }

        .item-des {
          font-size: $font-md;
          margin-bottom: 4px;
        }
      }
    }
  }

  .scrollable {
    overflow-x: scroll;

    /* scroll-behavior: smooth; */
  }
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
  height: 0;
}

@media screen and (max-width: 639px) {
  .section2 {
    .tabs {
      font-size: $font-md;
      margin-bottom: 24px;
      margin-left: 16px;
      margin-right: 16px;

      li {
        padding-bottom: 2px;
      }
    }

    .category-content {
      padding: 0 16px 32px;

      .category-item {
        min-width: 76.05%;
        width: 76.05; /* confirm if needed */
        margin: 0 8px;
        background-size: 100%;

        .item-img {
          width: 100%;
          background-size: contain;
          background-position-x: left;
        }

        .item-info {
          line-height: 1.5;
          padding: 0;
          color: $grey;

          .item-heading {
            font-size: $font-md;
            margin-bottom: 8px;
          }

          .item-des {
            font-size: $font-sm;
            margin-bottom: 4px;
          }
        }
      }

      .product {
        min-width: 76.05%;
        width: 76.05; /* confirm if needed */
        margin: 0 8px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        .product-img {
          width: 100%;
          background-size: cover;
        }
      }
    }
  }
}
