/* colors */

$black: #000;
$white: #fff;
$white-translucent: #fffc;
$white-smoke: #f7f7f7;

$cobalt-blue: #0074b8;
$navy: #283546;

$light-grey: #d9d9d9;
$grey: #555;

$overlay: #000000b3;
$navbar-gradient: linear-gradient(0deg, #0000001a 0%, #000 100%);

/* font sizes */

$font-xs: 0.625rem; /* 10px */
$font-sm: 0.75rem; /* 12px */
$font-s: 0.813rem; /* 13px */
$font-md: 0.875rem; /* 14px */
$font-lg: 1rem; /* 16px */
$font-xl: 1.5rem; /* 24px */
$font-2xl: 1.875rem; /* 30px */
$font-3xl: 2.625rem; /* 42px */
$font-48: 3rem; /* 48px */

/* Font family */

$montserrat: montserrat, arial, sans-serif;
$lato: lato, sans-serif;

/* animations */

@keyframes slide-in {
  from {
    left: -300px;
  }

  to {
    left: 0;
  }
}

@keyframes slide-out {
  from {
    left: 0;
  }

  to {
    left: -300px;
  }
}
