/* colors */

$black: #000;
$white: #fff;
$white-translucent: #fffc;
$white-smoke: #f7f7f7;

$cobalt-blue: #0074b8;
$navy: #283546;

$light-grey: #d9d9d9;
$grey: #555;

$overlay: #000000b3;
$navbar-gradient: linear-gradient(0deg, #0000001a 0%, #000 100%);

/* font sizes */

$font-xs: 10px;
$font-sm: 12px;
$font-s: 13px; /* name better */
$font-md: 14px;
$font-lg: 16px;
$font-xl: 24px;
$font-2xl: 30px;
$font-3xl: 42px;
